body
{
display: flex;
background-color: #222;
}

nav{
    display: flex;
    padding-left: 10px;
    background-color: black;
    border-bottom: grey 1px solid;
    color: grey;
    height: 75px;
    left: 0;
    padding-top: 20px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

input[type=text]{
background-color: black;
box-sizing: border-box;
color: skyblue;
font-size: 1.5em;
padding: 12px 20px;
height: 50px;
width: 400px;
}

aside{
background-color: #222;;
padding-top: 10px;
padding-right: 20px;
position: absolute;
left: 874px;
top: 96px;
width: 300px;
}

main{
background-color: #222;
display: flex;
flex-direction: column;
left: 0;
padding: 10px 10px 10px 10px;
position: absolute;
top:96px;
}

.main-video{
align-items: center;
background-color: darkmagenta;
height: 480px;
justify-items: center;
max-height: 480px;
max-width: 874px;
}

.subscribe{
    background-color: red;
    border: none;
    border-radius: 2%;
    color: white;
    font-size: 1em;
    padding: 4px 6px;
    text-align: center;
  }


.video-info{
border-bottom: darkgray 1px solid; 
color:darkgray;
padding-top: 10px;   
}


.comments-section{
    border-bottom: darkgray 1px solid;
    color:darkgray;
    padding-top: 10px;   
    }

.comment-heading{
    color: white;
    font-size: 2em;
}

.comment{
    color:darkgray;
    font-size: 1em;
    }

.logo{
    padding-right: 70px;
    border-radius: 2%;
}

.search-bar{
    padding-right: 50px;
}

.video-title{
font-size: 2em;
}

.user-name{
    color: white;
    font-weight: bold;
    padding-right: 450px;
}

.channel-info{
    border-bottom: darkgray 1px solid; 
    color:darkgray;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;   
    }